<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @mentor.FirstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @mentor.LastName %>
</p>

<p>
  <b>Title:</b>
  <%= @mentor.title %>
</p>

<p>
  <b>Department:</b>
  <%= @mentor.department %>
</p>

<p>
  <b>Phone:</b>
  <%= @mentor.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @mentor.email %>
</p>


<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
