<h1>Listing intern_questions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= current_at_tab 'Intern_questions' %>

<% @intern_questions.each do |intern_question| %>
  <tr>
    <td><%= intern_question.name %></td>
    <td><%= intern_question.value %></td>
    <td><%= link_to 'Show', intern_question %></td>
    <td><%= link_to 'Edit', edit_intern_question_path(intern_question) %></td>
    <td><%= link_to 'Destroy', intern_question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Intern question', new_intern_question_path %>
